<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<link rel="stylesheet" href="/style.css">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <%- include('./partials/nav.ejs') %>
        <div class="titlepost">
            <h1>New Social Student News</h1>
        </div>
        <div class="posts">

    <% socials.forEach(socials => { %>
       <a href="/posts/<%= socials._id %>">
        <div class="post">
            <h2 class="about"><%= socials.title %></h2>
            <p class="detail"><%= socials.post %></p>
            <h2 class="name"><%= socials.name %></h2>
        </div>
       </a>
       
        <% })%> 
    
</div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/script.js"></script>
</body>
</html>